/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/config/magentoapi.php
vendor.zip
/public/uploads
cronjob.php
cronjob-magecontroller.php
trash.php
/merge_conflicts
temp.php
logs
.git.zip
_MACOSX
