# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor
/vendors

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant

/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/tmp
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
vendor.zip
cronjob.php
cronjob-magecontroller.php
trash.php
/merge_conflicts
temp.php
temp.txt
logs
.git.zip
_MACOSX
composer.lock

/public/*.zip
/public/*.pdf
/public/pdf/
public/uploads
public/zoom/*
!public/zoom/.gitkeep
public/tmp_images/*

/deployment_scripts_test

# private files
app/Console/Commands/DispatchJob.php 
.env.example
.htaccess
app/Http/Composers/GlobalComposer.php
/.credentials
#Instagram Library
app/Library/mgp25/*
app/Library/_MACOSX/*
/app/Mail/templates.json
/app/Mail/*
resources/views/vendor/maileclipse/templates/*
/public/mailinglist/
/public/wetransfer/*
/resources/assets/analytics_files/*
/.phpintel