#productGrid h4{
    border-bottom: 1px solid #6f6767;
    padding: 15px 5px;
}

#productGrid  p{
    margin-bottom: 5px;
    color: black;
}

#productGrid  a:hover{
    text-decoration: none;
}

.dropdown-item .btn-notify, .notification-table .btn-notify{
    background: #64ec64;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.dropdown-item .item-left{
    float: left;
}

.dropdown-item .item-right{
    float: right;
}

.dropdown-menu .notify-drop-footer {
    border-top: 1px solid #e2e2e2;
    bottom: 0;
    position: relative;
    padding: 5px 15px 0px 15px;
    margin-top: 5px;
}

.notification-dropdown .dropdown-item{
    cursor: pointer;
    white-space:normal;
}


.notification-dropdown ul:first-of-type{
    width: 320px;
}

@media (max-width: 480px) {
    .notification-dropdown ul:first-of-type{
        width: 240px;
    }
}

.isread .btn-notify{
    display: none;
}

.isread span {
    color: #8c8080;
}
.notification-table tr{
    background: white;
}

.notification-table tr.isread{
    background: #ECF2FB;
}

.grid-image{
  height: 200px !important;
  margin: 0 auto;
}

@media (min-width: 1400px) {
    .container-wide {
        max-width: 1366px;
    }
}

.navbar-light .navbar-nav .nav-link {

    display: inline-table;
}

a.notification-link{
    font-weight: 400;
    color: #212529;
}

.toast-bottom-center {
    bottom: 30px;
}

.nav-item.dropdown[data-count]:after {
    position: absolute;
    right: 0%;
    top: 1%;
    content: attr(data-count);
    font-size: 75%;
    padding: .6em;
    border-radius: 50%;
    line-height: .8em;
    color: white;
    background: rgba(255, 0, 0, 0.85);
    text-align: center;
    min-width: 1em;
    font-weight: bold;
}
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.container-messanger.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.container-messanger {
  bottom: 0px;
  width: 500px;
  position: fixed;
  z-index: 300;
  right: 20px ;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-family: 'tahoma';
  font-size: 12px;
  border: 1px solid #edde;
  background: #fff;


}

/* message box header styles*/

.msg-wgt-header {
  background-color: #6D84B4;
  border: 1px solid rgba(0, 39, 121, 0.76);
  color: white;
  text-align: center;
  height: 28px;
}
#chatMsg{width: 290px}

.msg-wgt-header a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  vertical-align: middle;
  position: relative;
}

/* message box body styles*/

.msg-wgt-body {
  height: 300px;
  overflow-y: scroll;
}

.msg-wgt-body table {
  width: 100%;
}

.msg-row-container {

}

.msg-row-container td {

  padding: 3px 0 3px 2px;
}

.msg-row {
  width: 100%;
}

.message {
  margin-left: 40px;
}

/* Message box footer styles*/

.msg-wgt-footer {
  height: 355px;
  overflow-y:scroll;
}

.msg-wgt-footer textarea {
  width: 95%;
  font-family: 'tahoma';
  font-size: 13px;
  padding: 5px;
}

.user-label {
  font-size: 11px;
}

.msg-time {
  font-size: 10px;
  float: right;
  color: gray;
}

.avatar {
  width: 30px;
  height: 30px;
  float: left;
  background: url('/assets/chat_avatar.png');
  border: 1px solid lightgray;
}

.caret{display: none !important}
.dropdown-toggle::after {margin-left:50% !important;}

.chat-toggle{position: absolute;right:5px;top:0px;}
.chat-container table {
  border-collapse:separate;
  border-spacing: 0 1em;
}
.msg-wgt-footer {margin-left: -15px;background: #ebebeb; }
.msg-wgt-footer ul {
    margin: 0px;
    padding: 0px;
    list-style: none;

}
#sendid li{border-bottom: 1px solid #c4c4c4;margin: 0;padding: 18px 10px 10px;cursor: pointer;}
.activeuser{background: #ddd}
#sendid li span{color: white;font-size: 10px}
.blink{
    -webkit-animation: blink 700ms infinite alternate;
    -moz-animation: blink 700ms infinite alternate;
    -o-animation: blink 700ms infinite alternate;
    animation: blink 700ms infinite alternate;
}
@-webkit-keyframes blink {
  from { opacity:1; }
  to { opacity:0; }
}
@-o-keyframes blink {
  from { opacity:1; }
  to { opacity:0; }
}
@-moz-keyframes blink {
  from { opacity:1; }
  to { opacity:0; }
}
@keyframes blink {
  from { opacity:1; }
  to { opacity:0; }
}

.detailBox {
    width:90%;
    border:1px solid #bbb;
    margin:50px;
}

.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
    color:#444;
    margin:0;
    display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color: #6d6666;
    font-family: verdana;
    font-size: 12px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}

.commentText .delete{
    color: red;
    background: transparent;
    border: none;
}
.commentText .form-inline{
    display: inline;
}

form.display-inline{
    display: inline;
}

.table-input{
    width: 90px;
}

.leadtime {position: absolute;right:20px;top:12px;}
.panel-heading{position: relative;}
.edit {color: green;font-size: 12px;margin-bottom: 12px }
#remember{margin: 4px 0px 0 -20px !important}
/* CSS talk bubble */
.talk-bubble {
  margin-bottom: 15px;
  border: 1px solid grey;
}

.talk-bubble.dashed-border {
  border: 1px dashed grey;
}

.talk-bubble.grey {
  background-color: #eee;
}

.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;

}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: lightyellow transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: #eee #eee transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -8px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 32px solid;
  border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 22px solid;
  border-color: transparent transparent transparent lightyellow;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 12px solid;
  border-color: lightyellow transparent transparent lightyellow;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 30px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 38px;
  bottom: -20px;
  border: 12px solid;
  border-color: lightyellow lightyellow transparent transparent;
}
/*
  left: -8px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 32px solid;
  border-color: transparent transparent transparent #666;
  left: 0px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 22px solid;
  border-color: transparent transparent transparent lightyellow;

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -8px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 0px;
  bottom: -20px;
  border: 12px solid;
  border-color: lightyellow lightyellow transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 18px;
  bottom: auto;
  border: 12px solid;
  border-color: #dcf8c6 transparent transparent #dcf8c6;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 0px;
  bottom: auto;
  border: 20px solid;
  border-color: lightyellow transparent transparent transparent;
}

/* talk bubble contents */
.talktext{
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  height: 50px;
  overflow-y: scroll;
}

.show_more_main{text-align: center;margin: 0px auto;padding: 5px ;background: #eee;width: 100px;cursor: pointer;}
.mytask{background-color: #eee}
.red{color: red !important}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.message-img{display: block}


.tablesorter-header.category {
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    background-repeat: no-repeat;
    background-position: center right;
    padding: 4px 18px 4px 4px;
    white-space: normal;
    cursor: pointer;
}

.row .btn-group {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

.row .btn-group .btn{
    margin: 0 3px;
}

.accepted{ color: blue; }
.postponed{ color: #533f03}
.rejected{ color: red; }
.completed{ color: green; }

.isOverdue{
    /*color: red;*/
    color: black;
}

#notification_count{
    /*position: absolute;
    left: 10px;
    top: 10px;
    padding: .6em;
    border-radius: 50%;
    line-height: .8em;
    color: white;
    background: rgba(255, 0, 0, 0.85);
    text-align: center;
    min-width: 1em;
    font-weight: bold;*/

    position: absolute;
    left: -10px;
    top: -10px;
    padding: .6em;
    border-radius: 50%;
    line-height: .8em;
    color: white;
    background: rgba(255, 0, 0, 0.85);
    text-align: center;
    min-width: 1em;
    font-weight: bold;
}

#toast-container > div#notification_count{

    position: absolute;
    float: left;
    pointer-events: auto;
    overflow: hidden;
    margin: 0 0 15px;
    padding: 0.6em;
    width: fit-content;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 50%;
    background-position: 15px center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 12px #999999;
    -webkit-box-shadow: 0 0 12px #999999;
    box-shadow: 0 0 12px #999999;
    color: #FFFFFF;
    opacity: 1;
    z-index: 1000;
    height: 50px;
    width: 50px;
    padding: 20px 10px;
}
.chat-frame {
    height: 640px;
    overflow-y: scroll;
    border: 1px solid #E3E3E3;
}


.navbar {
    margin-bottom: 0px !important;
}
.navbar-inverse {
    border-radius: 0px;
}
.navbar-nav>li {
    min-width: 99px;
    padding-right: 15px;
}
.navbar-light .navbar-nav .nav-link {
    display: inline-flex;
}
.dropdown-toggle::after {
    margin-left: auto !important;
    margin-top: 8px;
    margin-left: 7px !important;
}

.page-heading {
    margin: 0px;
    padding: 15px;
    background: #f1f1f1;
    margin-bottom: 15px;
    text-align: center;
}

/*========================================== */
/*.notifications-container {
    display: none;
}*/

#productGrid table tr > td .btn-image {
    padding: 6px 6px !important;
}
.btn-image img {
    width: 16px !important;
}

.open>.dropdown-menu {
    max-height: 350px;
    overflow: auto;
}

.row .btn-group {
    margin-top: 0px !important;
}

.full-width input[type="text"], select {
    width: 100% !important;
}
.full-width .btn-group, .full-width .form-group {
    width: 100% !important;
    margin: 0px;
    padding: 0px;
}
.full-width button.multiselect  {
    width: 100% !important;
    text-align: left;
    overflow: hidden;
}
.dropdown-toggle::after {
    float: right;
}

.btn-image {
    padding: 6px 6px !important;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
    left: 0px;
}
